.section{
  width: 100%;
  height: 500px;
  background: #f6f6f6;
  &-rov{
    display: flex;
    gap: 80px;
    @media screen and (max-width: 760px) {
      flex-direction: column-reverse;
     align-items: center;
     justify-content: center;
    }
    
  }
  &-tex{
    width: 50%;
    padding-top: 55px;
    @media screen and (max-width: 760px) {
      width: 100%;
      padding: 0 20px;
    }
  }
  &-text{
    font-weight: 500;
    font-size: 32px;
    line-height: 134%;
    color: #1f2e35;
  }
  &-tex{
    margin-top: 65px;
  }
  &-span{
    font-weight: 500;
    font-size: 32px;
    line-height: 134%;
    color: #ee4248;
  }
  &-tr{
    max-width: 520px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #30444e;
  }
  &-rd{
    font-weight: 500;
color: #ee4248;
  }
  &-image{
    @media screen and (max-width: 760px) {
       

  }
  }
}